<%# 例）include ('../project/_p-img-card',{link:'#',category:'カテゴリ',worksLink:'./images/works/works01.jpg',companyName:'CodeUps株式会社'
    }) %>

    <div class="p-img-card">
        <a href="<%= link %>" class="p-img-card__box">
            <div class="p-img-card__category">
                <%= category %>
            </div>
            <div class="p-img-card__img">
                <img src="<%= worksLink %>" alt="<%= companyName %>" />
            </div>
            <div class="p-img-card__content">
                <h2 class="p-img-card__title">
                    <%= companyName %>
                </h2>
            </div>
        </a>
    </div>