<div class="p-news">
  <div class="p-news__inner--page l-inner">
    <ul class="p-news__wrapper">
      <li class="p-news__content p-news-post p-news-post--page">
        <%- include('../component/_c-news-post',{newsTitle:'newsPage'}) %>
      </li>
      <li class="p-news__content p-news-post p-news-post--page">
        <%- include('../component/_c-news-post',{newsTitle:'newsPage'}) %>
      </li>
      <li class="p-news__content p-news-post p-news-post--page">
        <%- include('../component/_c-news-post',{newsTitle:'newsPage'}) %>
      </li>
      <li class="p-news__content p-news-post p-news-post--page">
        <%- include('../component/_c-news-post',{newsTitle:'newsPage'}) %>
      </li>
      <li class="p-news__content p-news-post p-news-post--page">
        <%- include('../component/_c-news-post',{newsTitle:'newsPage'}) %>
      </li>
      <li class="p-news__content p-news-post p-news-post--page">
        <%- include('../component/_c-news-post',{newsTitle:'newsPage'}) %>
      </li>
      <li class="p-news__content p-news-post p-news-post--page">
        <%- include('../component/_c-news-post',{newsTitle:'newsPage'}) %>
      </li>
      <li class="p-news__content p-news-post p-news-post--page">
        <%- include('../component/_c-news-post',{newsTitle:'newsPage'}) %>
      </li>
      <li class="p-news__content p-news-post p-news-post--page">
        <%- include('../component/_c-news-post',{newsTitle:'newsPage'}) %>
      </li>
      <li class="p-news__content p-news-post p-news-post--page">
        <%- include('../component/_c-news-post',{newsTitle:'newsPage'}) %>
      </li>
    </ul>
    <div class="l-pagenavi">
      <%- include ('../component/_c-pagenavi') %>
    </div>
  </div>
</div>