<div class="p-overview">
  <div class="l-inner">
    <dl class="p-overview__info">
      <%- include ('../component/_c-explain',{explainTitle:'会社名',explainDesc:'テキストが入ります。'}) %>
      <%- include ('../component/_c-explain',{explainTitle:'設立',explainDesc:'テキストが入ります。'}) %>
      <%- include ('../component/_c-explain',{explainTitle:'資本金',explainDesc:'テキストが入ります。'}) %>
      <%- include ('../component/_c-explain',{explainTitle:'売上高',explainDesc:'テキストが入ります。'}) %>
      <%- include ('../component/_c-explain',{explainTitle:'代表者',explainDesc:'テキストが入ります。'}) %>
      <%- include ('../component/_c-explain',{explainTitle:'従業員数',explainDesc:'テキストが入ります。'}) %>
      <%- include ('../component/_c-explain',{explainTitle:'事業内容',explainDesc:'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。'}) %>
      <%- include ('../component/_c-explain',{explainTitle:'所在地',explainDesc:'東京駅'}) %>
    </dl>
  </div>
</div>