<div class="p-works">
  <div class="p-works__tab">
    <%- include ('../component/_c-category') %>
  </div>
  <div class="p-works___contents">
    <div class="p-works__content">
      <%- include ('../project/_p-img-card',{link:'works-detail.html',category:'カテゴリ',worksLink:'./images/works/works01.jpg',companyName:'CodeUps株式会社'
    }) %>
    </div>
    <div class="p-works__content">
      <%- include ('../project/_p-img-card',{link:'works-detail.html',category:'カテゴリ',worksLink:'./images/works/works02.jpg',companyName:'CodeUps株式会社'
    }) %>
    </div>
    <div class="p-works__content">
      <%- include ('../project/_p-img-card',{link:'works-detail.html',category:'カテゴリ',worksLink:'./images/works/works03.jpg',companyName:'CodeUps株式会社'
    }) %>
    </div>
    <div class="p-works__content">
      <%- include ('../project/_p-img-card',{link:'works-detail.html',category:'カテゴリ',worksLink:'./images/works/works04.jpg',companyName:'CodeUps株式会社'
    }) %>
    </div>
    <div class="p-works__content">
      <%- include ('../project/_p-img-card',{link:'works-detail.html',category:'カテゴリ',worksLink:'./images/works/works05.jpg',companyName:'CodeUps株式会社'
    }) %>
    </div>
    <div class="p-works__content">
      <%- include ('../project/_p-img-card',{link:'works-detail.html',category:'カテゴリ',worksLink:'./images/works/works06.jpg',companyName:'CodeUps株式会社'
    }) %>
    </div>
  </div>
</div>
<div class="p-works__pagenavi">
  <%- include ('../component/_c-pagenavi') %>
</div>