<!DOCTYPE html>
<html lang="ja">
  <%- include('./common/_head') %>
  <body>
    <%- include('./common/_p-header') %> <%-
    include('./project/_p-sub-hero',{section_name:'blog',title:'ブログ'}) %>

    <div class="l-category"><%- include('./component/_c-category') %></div>
    <%- include('./component/_c-breadcrumb',{pagetitle:'ブログ',
    detailtitle:''}) %>

    <div class="l-blog-card"><%- include('./project/_p-blog-card')%></div>

    <div class="l-common-contact">
      <%- include('./project/_p-common-contact')%>
    </div>
    <div class="l-footer"><%- include('./common/_p-footer') %></div>
  </body>
</html>
