<!DOCTYPE html>
<html lang="ja">
  <%- include('./common/_head') %>
  <body>
    <%- include('./common/_p-header') %>
    <%- include('./project/_p-sub-hero',{section_name:'blog',title:'ブログ'}) %>
    
    <div class="l-inner">
      <div class="l-blog">
        <%- include('./component/_c-breadcrumb',{pageTitle:'ブログ',detailTitle:''}) %>
        <%- include('./component/_c-category') %>
        <%- include('./project/_p-cards',{max:9,articleCards:'topCards'})%>
        <div class="p-blog__pagenav">
          <%- include('./component/_c-pagenavi') %>
        </div>
      </div>
    </div>
    <div class="l-common-contact">
      <%- include('./project/_p-common-contact')%>
    </div>
    
    <div class="l-footer">    
      <%- include('./common/_p-footer') %>
    </div>
  </body>
</html>
