<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head') %>

    <body>
        <%- include('./common/_p-header') %>
            <%- include('./project/_p-sub-hero',{section_name:'contact',title:'お問い合わせ'})%>
                <%- include('./component/_c-breadcrumb',{pageTitle:'お問い合わせ',detailTitle:''}) %>
                    <div class="l-form">
                        <%- include('./project/_p-form') %>
                    </div>
                    <%- include('./common/_p-footer') %>
    </body>

</html>