<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head') %>

    <body>
        <%- include('./common/_p-header') %>
            <%- include('./project/_p-sub-hero',{section_name:'contact',title:'お問い合わせ'})%>
                <%- include('./component/_c-breadcrumb',{pagetitle:'お問い合わせ',detailtitle:''}) %>
                    <div class="l-contact">
                        <div class="p-contact">
                            <div class="p-contact__inner l-inner">
                                <%- include('./project/_p-form') %>
                                    <input type="submit" class="p-form__btn" value="送信">
                            </div>
                        </div>
                    </div>
                    <div class="l-footer">
                        <%- include('./common/_p-footer') %>
                    </div>
    </body>

</html>