<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head') %>

<body>
    <%- include('./common/_p-header',{Logo:'lowLogo'}) %>
    <%- include('./project/_p-sub-hero',{section_name:'contact',title:'お問い合わせ'})%>
    <div class="l-breadcrumb">
        <%- include('./component/_c-breadcrumb',{pageTitle:'お問い合わせ',detailTitle:''}) %>
    </div>
    <div class="l-form">
        <%- include('./project/_p-form') %>
    </div>
    <%- include('./common/_p-footer') %>
</body>

</html>