<!DOCTYPE html>
<html lang="ja">
  <%- include('./common/_head') %>
  <body>
    <%- include('./common/_p-header',{Logo:'lowLogo'}) %>
    <%- include('./project/_p-sub-hero',{section_name:'content',title:'事業内容'})%>
    <%- include('./component/_c-breadcrumb',{pageTitle:'事業内容',detailTitle:''}) %>
    <div class="l-sub-content">
      <%- include('./project/_p-sub-content')%>
    </div>
    <div class="l-common-contact">
      <%- include('./project/_p-common-contact')%>
    </div>
    <%- include('./common/_p-footer') %>
  </body>
</html>
