<!DOCTYPE html>
<html lang="ja">
  <%- include('./common/_head') %>
  <body>
    <%- include('./common/_p-header') %> <%-
    include('./project/_p-sub-hero',{section_name:'content',title:'事業内容'})
    %> <%- include('./component/_c-breadcrumb',{pagetitle:'事業内容',
    detailtitle:''}) %> <%- include('./project/_p-sub-content')%> <%-
    include('./project/_p-common-contact')%> <%- include('./common/_p-footer')
    %>
  </body>
</html>
