<!DOCTYPE html>
<html lang="ja">
  <%- include('./common/_head') %> <%#- include('./common/_p-header') %>

  <body>
    <%- include('./project/_p-mv') %> <%- include('./project/_p-top-content') %>
    <%- include('./project/_p-top-works') %> <%-
    include('./project/_p-top-overview') %> <%-
    include('./project/_p-top-blog')%> <%-
    include('./project/_p-common-contact')%>
  </body>
  <%- include('./common/_p-footer') %>
</html>
