<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head') %>

    <body>
        <div class="l-header">
            <%- include('./common/_p-header') %>
        </div>
        <div class="l-mv">
            <%- include('./project/_p-mv') %>
        </div>
        <div class="l-top-news">
            <%- include('./project/_p-top-news') %>
        </div>
        <div class="l-top-content">
            <%- include('./project/_p-top-content') %>
        </div>
        <div class="l-top-works">
            <%- include('./project/_p-top-works')%>
        </div>
        <div class="l-top-overview">
            <%- include('./project/_p-top-overview') %>
        </div>
        <div class="l-top-blog">
            <%- include('./project/_p-top-blog')%>
        </div>
        <div class="l-common-contact">
            <%- include('./project/_p-common-contact')%>
        </div>
        <div class="l-footer">
            <%- include('./common/_p-footer')%>
        </div>
    </body>

</html>