<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head') %>

<body>
  <%- include('./common/_p-header') %>

   <div class="l-breadcrumb l-breadcrumb--detail">
    <%- include ('./component/_c-breadcrumb',{pageTitle:'制作実績', detailTitle:'制作実績詳細'}) %>
  </div>
 
  <div class="l-works-detail">
    <%- include ('./project/_p-works-detail') %>
  </div>
  
  <div class="l-related-article">
    <%- include ('./project/_p-related-article') %>
  </div>

  <div class="l-common-contact">
    <%- include ('./project/_p-common-contact') %>
  </div>
  <%- include('./common/_p-footer') %>
</body>

</html>