<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head') %>

<body>
  <%- include('./common/_p-header') %>
  <%- include ('./project/_p-sub-hero',{section_name:'works',title:'制作実績'}) %>
  <div class="l-breadcrumb">
    <%- include ('./component/_c-breadcrumb',{pageTitle:'制作実績', detailTitle:''}) %>
  </div>
  <div class="l-works">
    <%- include ('./project/_p-works') %>
  </div>
  <div class="l-pagenavi">
    <%- include ('./component/_c-pagenavi') %>
  </div>
  <div class="l-common-contact">
    <%- include ('./project/_p-common-contact') %>
  </div>
  <%- include('./common/_p-footer') %>
</body>

</html>