<% if (enTitle.LorR == 'L') { %>
<div class="c-title">
  <h2 class="c-title__ja"><%= japanese_title %></h2>
  <span class="c-title__en"> <%= english_title %> </span>
</div>
<% } else if (enTitle.LorR == 'R') { %>
<div class="c-title">
  <h2 class="c-title__ja"><%= japanese_title %></h2>
  <span class="c-title__en c-title__en--right"> <%= english_title %> </span>
</div>
<% } else { %>
<div class="c-title">
  <h2 class="c-title__ja"><%= japanese_title %></h2>
  <span class="c-title__en"> <%= english_title %> </span>
</div>
<% } %>
